/*Обнуляем отступы и границы, задаем стили текста*/
*
{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #444;
    border: 0;
}


/*Градиенты, общие классы, контейнер*/
.green-gradient
{
    background: -webkit-linear-gradient(90deg, #0aa30a 0%, #09b30a 100%);
    background:    -moz-linear-gradient(90deg, #0aa30a 0%, #09b30a 100%);
    background:      -o-linear-gradient(90deg, #0aa30a 0%, #09b30a 100%);
    background:     -ms-linear-gradient(90deg, #0aa30a 0%, #09b30a 100%);
    background:         linear-gradient(0deg, #0aa30a 0%, #09b30a 100%);
}
.green-gradient-button
{
    background: -webkit-linear-gradient(90deg, #01a91c 0%, #54b847 100%);
    background:    -moz-linear-gradient(90deg, #01a91c 0%, #54b847 100%);
    background:      -o-linear-gradient(90deg, #01a91c 0%, #54b847 100%);
    background:     -ms-linear-gradient(90deg, #01a91c 0%, #54b847 100%);
    background:         linear-gradient(0deg, #01a91c 0%, #54b847 100%);
}
.disp-block
{
    display: block;
}
.clear
{
    clear: both;
}
.azure
{
    color: #1091c7;
}
a:hover
{
    color: #2d900a;
}
body
{
    overflow-y: scroll;
    height: 100%;
    background-image: url('../imgs/pattern-basic.png');
}
.container
{
    width: 989px;
    min-height: 100%;
    margin: 0 auto;
}


/*Хэдер сайта*/
.container header
{
    height: 115px;
    margin-top: 33px;
    border-top: 6px solid black;
}


/*Логотипы*/
.container header .logos
{
    height: 80px;
    background-color: #f1f1f1;
}
.container header .logos .main-logo
{
    float: left;
    width: 146px;
    height: 52px;
    margin-top: 14px;
    margin-left: 22px;
    background-image: url('../imgs/veeam_logo_mdp_52.png');
}
.container header .logos .modern-data
{
    float: right;
    width: 389px;
    height: 39px;
    margin-top: 21px;
    margin-right: 14px;
    background-image: url('../imgs/mdb_n1_backup.png');
}


/*Хлебные крошки*/
.breadcrumbs
{
    height: 34px;
    box-shadow: 0 2px 2px #ccc;
}
.breadcrumb
{
    padding: 9px 32px;
    list-style: none;
}
.breadcrumb > li
{
    display: inline-block;
}
.breadcrumb > li > a
{
    text-decoration: none;
    color: #fff;
}
.breadcrumb > li > a:hover
{
    color: #222;
}
.breadcrumb > li + li::before
{
    padding: 0 15px;
    content: '»';
    color: #143d46;
}
.breadcrumb > .bc-active
{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}


/*Вкладки*/
.wrapper
{
    margin-top: 19px;
}
.wrapper .active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.tabs
{
    font-size: 0;
    position: relative;
    z-index: 2;
    right: 32px;
    float: right;
}
.tab
{
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    height: 19px;
    margin-bottom: -1px;
    margin-left: 1px;
    padding: 10px 25px 5px 25px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    background-color: #eee;
}
.tab:not(.active)
{
    color: #444;
}
.tab:hover:not(.active)
{
    -webkit-transition: background-color .3s linear;
       -moz-transition: background-color .3s linear;
         -o-transition: background-color .3s linear;
            transition: background-color .3s linear;
    background-color: #f5f5f5;
}


/*Содержимое вкладок*/
.tab-content
{
    clear: both;
    width: 942px;
    margin-left: 27px;
    background-color: #fff;
}
.tab-item
{
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/*Баннер*/
.banner
{
    width: 908px;
    height: 148px;
    margin: 0 auto 25px;
    background-image: url('../imgs/Annual_DP_Report_2013_header_LP.png');
    background-position: 0 -1px;
}
.banner h4
{
    font-size: 23px;
    font-weight: 600;
    padding-top: 54px;
    padding-left: 92px;
    color: #fff;
}
.banner h4 span.yellow
{
    font-family: Arial;
    font-size: 22px;
    color: #ffec00;
}
.banner p
{
    font-size: 16px;
    padding-top: 13px;
    padding-left: 90px;
    color: white;
}


/*Абзацы и заголовки*/
/*Enterprise и SMB*/
.main-content-float
{
    float: left;
    width: 518px;
}
.main-content .main-content-float h1
{
    font-size: 16px;
    padding: 8px 0 10px;
}
.main-content .main-content-float p
{
    font-size: 13px;
    padding: 10px 0;
}
.main-content .main-content-float ul
{
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0 0 217px;
    list-style-type: square;
}
.main-content .main-content-float ul li
{
    font-size: 13px;
}
/*Enterprise*/
.download-info
{
    margin-top: 20px;
}
.download-info a
{
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}
/*SMB*/
.main-content .main-content-float h2
{
    font-size: 13px;
    font-weight: 600;
    padding: 8px 0;
}
.main-content .main-content-float h3
{
    font-size: 13px;
    font-weight: 600;
    margin: 21px 0 9px 0;
    padding: 5px 0;
}
.main-content .main-content-float img.info-prev
{
    padding: 0 38px 0 1px;
}
.main-content p.clear
{
    margin-top: 10px;
}


/*Картинки со ссылками на результаты опросов*/
.left-float
{
    position: relative;
    float: left;
    margin: 10px 20px 0 2px;
}
.left-float a
{
    text-decoration: none;
}
.reports
{
    position: relative;
}
.annual-dp-report
{
    width: 151px;
    height: 214px;
    border: 1px solid #dedede;
    background: url('../imgs/preview-annual-dp-report.png');
}
.annual-smb-report
{
    width: 181px;
    height: 129px;
    border: 1px solid #dedede;
    background: url('../imgs/annual-smb-report-mini.jpg');
}
.popup-window
{
    position: absolute;
    bottom: -5px;
    width: 143px;
    height: 54px;
    cursor: pointer;
}
.popup-window img
{
    bottom: 48px;
    display: inline-block;
}


/*Всплывающее окно с видео*/
#mask
{
    position: fixed;
    z-index: 888;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: black;
}
.popup-info
{
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    display: none;
    width: 672px;
    height: 447px;
    border: 1px solid black;
    background: #858585;
}
.popup-info iframe,
.popup-info button
{
    display: block;
    margin: 0 auto;
}
.popup-info button
{
    font-size: 16px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #eee;
}
.popup-info button:active
{
    color: #444;
}


/*Форма*/
aside.side-form
{
    box-sizing: border-box;
    width: 356px;
    min-height: 405px;
    margin-left: 552px;
    padding: 7px;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #ddd;
}
aside.side-form form
{
    width: 340px;
    min-height: 390px;
    background-color: #f5f5f5;
}
aside.side-form form h2
{
    font-family: Arial;
    font-size: 1.3em;
    font-weight: 900;
    padding: 15px 0 7px 0;
    text-align: center;
    color: #2d900a;
}
aside.side-form form div.table
{
    width: 100%;
}
.table
{
    display: table;
    border-spacing: 10px;
}
.row
{
    display: table-row;
}
aside.side-form form .row p
{
    display: table-cell;
    vertical-align: middle;
}
aside.side-form form .row p:first-child
{
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    width: 120px;
    padding-top: 0;
    padding-left: 3px;
}
aside.side-form form .row p:last-child
{
    box-sizing: border-box;
    width: 190px;
    padding: 0 5px;
}
aside.side-form form .row input,
aside.side-form form .row select
{
    box-sizing: border-box;
    width: 180px;
    height: 22px;
    padding: 2px 5px;
    color: black;
    border: 1px solid #abadb3;
}
aside.side-form form .row select
{
    height: 20px;
}
.selecter,
.selecter-selected /*Эти классы полностью стилизуются в jquery.fs.selecter.css. Тут только нужные размеры.*/
{
    width: 180px;
    height: 20px;
}
.important-thing::after
{
    font-family: 'Estrangelo Edessa', Arial;
    font-size: 20px;
    font-weight: 200;
    content: '*';
    color: #e10019;
}
aside.side-form form input[type='submit']
{
    font-family: Arial;
    font-size: 18px;
    display: block;
    width: 144px;
    height: 40px;
    margin: 32px auto 0;
    cursor: pointer;
    color: white;
    border: 1px solid #18871d;
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255, 255, 255, .4), 1px 1px rgba(51, 51, 51, .4);
    text-shadow: 1px 2px #0e7f13;
}


/*Всё что связано с футером*/
.clr /*Этот див прижимает футер к низу*/
{
    height: 95px;
}
footer
{
    clear: both;
    width: 989px;
    height: 80px;
    margin: -80px auto 0;
}
.socials
{
    float: right;
    margin-right: 10px;
}
.tweet
{
    display: inline-block;
    width: 62px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    background: url('../imgs/tweet.png');
}
.linkedin
{
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    background: url('../imgs/linkedin-share-buttons.jpg');
}
.g1
{
    display: inline-block;
    width: 32px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    background: url('../imgs/g1.png');
}
.fblike
{
    display: inline-block;
    width: 46px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    background: url('../imgs/fblike.png');
}
.footer-links
{
    font-size: 10px;
    margin-left: 10px;
    padding-top: 4px;
    color: #747474;
}
.footer-links a
{
    font-size: 11px;
    color: #747474;
}
.footer-links a:hover
{
    color: #2d900a;
}
.copyright a.azure
{
    font-size: 10px;
}
.copyright
{
    font-size: 10px;
    padding-top: 35px;
    padding-bottom: 5px;
    text-align: center;
}
.copyright sup
{
    font-size: 9px;
}